node_modules/
.next/
*.tsbuildinfo
test-results/
playwright-report/
!public/demo/bbbc039/preview.png
!public/demo/4dn-ncl/demo-preview.png
!public/demo/4dn-ncl/demo-dapi.png
!public/demo/4dn-ncl/demo-ncl.png
!public/demo/bbbc013/demo-dapi.png
!public/demo/bbbc013/demo-gfp.png

out/
